<configuration debug="true">

	<property name="LOGGER_HOME" value="/home/vikram/Projects/Kontext/kontext/logs/" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
	</appender>
	
	<appender name="KONTEXT_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGGER_HOME}/debug.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- roll over daily -->
			<fileNamePattern>${LOGGER_HOME}/archived/debug.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<logger name="org.kontext" level="debug">
		<appender-ref ref="KONTEXT_LOG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="debug">
		<appender-ref ref="KONTEXT_LOG" />
	</root>

</configuration>